<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de salas</title>
    <!--CSS-->
    <link rel="stylesheet" href="styles/style.css">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

    <section class="botones">
        <div class="botones-otto">

            <a class="link-imagen" href="https://www.youtube.com/playlist?list=PLd6D3mUB0k5f8bXbtXGwbzv6j1x3o3l6i"
                target="_blank" rel="noopener noreferrer">
                <div class="otto-f">
                    <img src="images/fotos/otto-granja.png" alt="">
                    <div class="texto-boton">OTTO FARM</div>
                </div>
            </a>

            <a class="link-imagen" href="https://www.youtube.com/playlist?list=PLd6D3mUB0k5f8bXbtXGwbzv6j1x3o3l6i"
                target="_blank" rel="noopener noreferrer">
                <div class="otto-g">
                    <img src="images/fotos/otto-guias.png" alt="">
                    <div class="texto-boton">GUIAS OTTO</div>
                </div>
            </a>

            <a class="link-imagen" href="https://www.youtube.com/playlist?list=PLd6D3mUB0k5f8bXbtXGwbzv6j1x3o3l6i"
                target="_blank" rel="noopener noreferrer">
                <div class="capsulas">
                    <img src="images/fotos/otto-videos.png" alt="">
                    <div class="texto-boton-grande">CAPSULAS DE VIDEO</div>
                </div>
            </a>

            <a class="link-imagen" href="https://www.youtube.com/playlist?list=PLd6D3mUB0k5f8bXbtXGwbzv6j1x3o3l6i"
                target="_blank" rel="noopener noreferrer">
                <div class="portafolio">
                    <img src="images/fotos/portafolio.png" alt="">
                    <div class="texto-boton-grande">PORTAFOLIO 2024</div>
                </div>
            </a>

        </div>

    </section>

</html>