{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de salas</title>
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'reservas/styles/style.css' %}">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<nav>
    <ul>
        <li class="esconder"> <a href="#"
                rel="noopener noreferrer" target="_blank">Administrador</a>
        <li class="menu" onclick=mostrarBarra()> <svg xmlns="http://www.w3.org/2000/svg" height="48px"
                viewBox="0 -960 960 960" width="48px" fill="#e3e3e3">
                <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
            </svg> </li>
    </ul>

    <ul class="barra">
        <li onclick=esconderBarra()> <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960"
                width="48px" fill="#e3e3e3">
                <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
            </svg></li>
        <li> <a href="#" rel="noopener noreferrer" target="_blank">Administrador</a> </li>
    </ul>
</nav>

<body>
    <h1>Inicio de sesión</h1>
    <section class="contenedor-inicio-usuario">
        <form method="POST">
        {% csrf_token %}
        <input id="usuario" name="username" class="usuario-input" type="text" placeholder="Usuario">
        <input id="contraseña" name="password" class="usuario-input" type="password" placeholder="Contraseña">

        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}

        <button type="submit" id="iniciar-sesion" class="iniciar-sesion">Iniciar sesión</button>
        </form>
    </section>
</body>
    

<script>
    function mostrarBarra() {
        const barra = document.querySelector('.barra');
        barra.style.display = 'flex';
    }

    function esconderBarra() {
        const barra = document.querySelector('.barra');
        barra.style.display = 'none';
    }
</script>

</html>
