<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de salas</title>
    <!--CSS-->
    <link rel="stylesheet" href="styles/style.css">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<nav>
    <ul>
        <li> <a class="admin" href="#section1">Administrador</a> </li>
    </ul>
</nav>

<body>
    <section class="botones">
        <div class="botones-inicio">
            <a href="#" class="btn-1"> Reservar sala </a>
            <a href="#" class="btn-1"> Cancelar reserva </a>
        </div>
    </section>
</body>
    

</html>