<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de salas</title>
    <!--CSS-->
    <link rel="stylesheet" href="styles/style.css">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<nav>
    <ul>
        <li> <a class="admin" href="#section1">Administrador</a> </li>
    </ul>
</nav>

<body>

    <section>
        <h1> Editar Salas</h1>
    </section>

    <section class="botones">
        <h1>Super tabla con todas las salas</h1>
    </section>

    <section>
        <h1> confirma la cancelacion de su reserva </h1>
    </section>
</body>
    

</html>