body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

/*Botones*/
.botones {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.botones a{
    text-decoration: none;
    font-weight: 600 !important;
    color: white;
}

.botones-inicio {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
}

.btn-1 { 
    padding: 10px;
    background-color: #071B34;
    border-radius: 10px;
}

/* Fin botones */

/* Inicio Navbar */
nav{
background-color: #071B34;
position: sticky;
top: 0;
z-index: 100;
width: 100%;
}


nav ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

nav li{
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav li:last-child {
    margin-left: auto;
    padding-right: 20px;
}

nav a{
    text-decoration: none;
    color:white;
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 50px;
    border-right: 0.5px solid white;
    border-left: 0.5px solid white;
    text-align: center;
}


nav a:hover{
    color: white;
    text-decoration: none;
}

nav a.izq{
    border-left: 2px solid white;
}

nav a.der{
    border-right: 2px solid white;
}

nav li:last-child {
margin-left: auto;
padding-right: 20px;
}

/*Fin Navbar*/

@media only screen and (max-width: 991px) {
    .esconder{
        display: none;
    }

    .menu{
        display:block;
    }

    nav ul.barra{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    nav a.izq, nav a.der, nav a{
        border: none !important;
    }
}

/* barra lateral */

.barra{
position:fixed;
top:0;
right:0;
height:100vh;
width:200px;
z-index:1000;
background-color:#071B34;
justify-content: flex-start;
display: none;
align-items: flex-start;
flex-direction: column;
}

.barra li{
width:100%;
display: block;
justify-content: center;
align-items: center;
display: block;
}

.barra li svg{
align-items: flex-end;
justify-content: center;
}

.barra a{
padding: 0;
border: none !important;
}

.menu{
display:none;
}


@media only screen and (max-width: 991px) {
.esconder{
display: none;
}

.menu{
display:block;
}

nav ul.barra{
display: none;
flex-wrap: wrap;
flex-direction: column;
}

nav a.izq, nav a.der, nav a{
border: none !important;
}
}